{% extends "base.html.twig" %}

{% block body %}
    <div class="content-wrap">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 col-lg-9">
                    <div class="sidebar-hotel">
                        <div class="event-info d-flex flex-column">
                            <strong>FIFA World Cup Qatar 2022™</strong>
                        </div>
                        <div class="event-search border-bottom p-2 pb-3">
                            <div class="col-12 col-md-4 text-center">
                                <strong class="mb-2">Traveler(s)</strong>
                                <div class="event-search-detail mt-2">
                                    <span>1 <span>Traveler(s)</span></span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 text-center">
                                <strong class="mb-2">Check-in</strong>
                                <div class="event-search-detail mt-2">
                                    <span>Sun, Nov 20th 2022</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-4 text-center">
                                <strong class="mb-2">Check-out</strong>
                                <div class="event-search-detail mt-2">
                                    <span>Wed, Dec 7th 2022</span>
                                </div>
                            </div>
                        </div>
                        <div class="event-product d-flex flex-column pl-4 pr-4 pt-3 pb-3">
                            <h5 class="your-trip-detail">Your trip details</h5>
                            <span>Please review your package details below. To edit any of your choices, click “change” – this will take you to the beginning of the selection process to rebuild your ticket, flight and accommodation package. Once you confirm your selection, your flight, accommodation, and match tickets will be confirmed.</span>
                            <div class="event-title mt-3 d-flex flex-row p-0">
                                <div class="event-title-content col-md-10 pl-3 pt-2 pb-2 pr-0">
                                    <strong>
                                        <i class="fa fa-ticket"></i>
                                        <b>Tickets</b>
                                    </strong>
                                </div>
                                <div class="event-title-btn col-md-2 p-0">
                                    <a href="http://www.qatarairways.com/app/fifa2022/" class="btn bt-effect btn-outline-primary">Change</a>
                                </div>
                            </div>
                            <div class="event-content event-content-ticket d-flex flex-column p-2">
                                <div>
                                    <i class="fa fa-soccer-ball"></i> <strong>Support your team package - Category 2</strong></div>
                            </div>
                            <div class="event-content event-content-ticket d-flex flex-column p-2">
                                <div><i class="fa fa-soccer-ball"></i> <strong>Round of 16 package - Category 2</strong></div>
                            </div>
                            <div class="event-ticket-detail">
                                <div class="list-ticket">
                                    <div class="title-ticket">
                                        <i class="fa fa-tag"></i> <span>Number of Tickets</span>:
                                    </div>
                                    <span class="ticket-detail">6 Tickets</span>
                                </div>
                                <div class="list-ticket">
                                    <div class="title-ticket">
                                        <i class="fa fa-heart"></i> <span>Preferred team</span>:
                                    </div>
                                    <span class="ticket-detail">Qatar</span>

                                </div>
                                <div class="list-ticket">
                                    <div class="title-ticket">
                                        <i class="fa fa-ticket"></i> <span>Match Ticket Type</span>:
                                    </div>
                                    <span class="ticket-detail">category 2</span>

                                </div>
                            </div>
                            <div class="event-title d-flex flex-row p-0">
                                <div class="event-title-content col-md-10 pl-3 pt-2 pb-2 pr-0"><strong><i class="icon icon-hotel"></i> <b>Categories</b></strong></div>
                                <div class="event-title-btn col-md-2 p-0"><a
                                            href="https://book.holidays.qatarairways.com/package/search-flight-category?From=PER&amp;To=DOH&amp;DepartureDate=2022-11-20&amp;ReturnDate=2022-12-07&amp;Currency=AUD&amp;CultureCode=en-US&amp;RoomCount=1&amp;PaxInfos[0].AdultCount=1&amp;JourneyType=1&amp;CabinClass=1&amp;ProductId=d6b41e74-2b5c-4362-9785-c0adc39884db&amp;HotelDestination=1048&amp;EventInfoSearch.EventId=de029841-5e70-49f1-a683-231d042b7c50&amp;EventInfoSearch.Category=2&amp;EventInfoSearch.PreferredTeam=QA&amp;EventInfoSearch.MaximumPassenger=4&amp;EventInfoSearch.MaximumAdultInRoom=2&amp;EventInfoSearch.EventProductPackageSearchs[0].Package=3&amp;EventInfoSearch.EventProductPackageSearchs[0].TicketCount=4&amp;EventInfoSearch.EventProductPackageSearchs[1].Package=4&amp;EventInfoSearch.EventProductPackageSearchs[1].TicketCount=2"
                                            class="btn bt-effect btn-outline-primary">Change</a></div>
                            </div>
                            <div class="line-flight-sidebar">
                                <div class="flight-way__box">
                                    <div class="flight-way__view">
                                        <div class="line-way line-way-hotel p-0 pt-2">
                                            <div class="line-time line-hotel line-category pr-2">
                                                <div class="hotel-category">Standard Hotel (Kingsgate Hotel Doha or similar) - Support your team &amp; R16</div>
                                                <div class="room-hotel row">
                                                    <div class="col-4 d-xl-none">
                                                        <div class="line-images-hotel summary-page"
                                                             style="background-image: url(&quot;https://www.qatarairways.com/content/dam/discover-qatar/gq/Kingsgate-Hotel-Doha-Superior-Room-King-Bed.jpg&quot;);"></div>
                                                    </div>
                                                    <div class="line-cancellation-fifa col-8 col-xl-12">
                                                        <div class="summary-detail-color"><i class="ico icon-hotel summary-title-color"></i> <strong>Room Category</strong>:
                                                            <span>According to availability</span></div>
                                                        <div><i class="icon-clock"></i> <span>
                                                                    20 Nov 2022 - 07 Dec 2022 (<span>17 nights</span>)
                                                                </span></div>
                                                        <div class="summary-detail-color"><i class="ico icon-hotel"></i>1 Single room
                                                        </div> <!---->
                                                        <div class="summary-detail-color"><i class="ico icon-check-mark summary-title-color"></i>Bed &amp; Breakfast
                                                        </div>
                                                        <div class="summary-detail-color"><span><p><span><i class="ico icon-remove"></i>Non-Refundable</span></p>
</span></div>
                                                    </div>
                                                </div>
                                                <div class="summary-detail-color"><span><p>Enjoy a stay at a centrally-located hotel and get easy access to places of interest such as Souq Waqif, the National Museum of Qatar, Msheireb Downtown Doha and the beautiful Corniche. Breakfast is included and some of Qatar’s best attractions are just minutes away.&nbsp;</p>

<p>Your hotel details will be confirmed to you by email no later than September 2022. Pictures are for illustrative purpose only.</p>
</span></div>
                                            </div>
                                            <div class="d-none d-xl-inline-flex">
                                                <div class="line-images-hotel summary-page"
                                                     style="background-image: url(&quot;https://www.qatarairways.com/content/dam/discover-qatar/gq/Kingsgate-Hotel-Doha-Superior-Room-King-Bed.jpg&quot;);"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="event-title d-flex flex-row p-0 mt-2">
                                <div class="event-title-content col-md-10 pl-3 pt-2 pb-2 pr-0"><strong><i class="icon icon-flight"></i> <b>Flights</b></strong></div>
                                <div class="event-title-btn col-md-2 p-0"><a
                                            href="https://book.holidays.qatarairways.com/package/search-flight-category?From=PER&amp;To=DOH&amp;DepartureDate=2022-11-20&amp;ReturnDate=2022-12-07&amp;Currency=AUD&amp;CultureCode=en-US&amp;RoomCount=1&amp;PaxInfos[0].AdultCount=1&amp;JourneyType=1&amp;CabinClass=1&amp;ProductId=d6b41e74-2b5c-4362-9785-c0adc39884db&amp;HotelDestination=1048&amp;EventInfoSearch.EventId=de029841-5e70-49f1-a683-231d042b7c50&amp;EventInfoSearch.Category=2&amp;EventInfoSearch.PreferredTeam=QA&amp;EventInfoSearch.MaximumPassenger=4&amp;EventInfoSearch.MaximumAdultInRoom=2&amp;EventInfoSearch.EventProductPackageSearchs[0].Package=3&amp;EventInfoSearch.EventProductPackageSearchs[0].TicketCount=4&amp;EventInfoSearch.EventProductPackageSearchs[1].Package=4&amp;EventInfoSearch.EventProductPackageSearchs[1].TicketCount=2"
                                            class="btn bt-effect btn-outline-primary">Change</a></div>
                            </div>
                            <div>
                                <div class="line-flight-sidebar">
                                    <div class="flight-way__box"><h5><span>Departure Flight</span> <span style="color: transparent;"> Amadeus</span></h5>
                                        <div class="flight-way__view">
                                            <div><p class="aircraft"><small>19 Nov 2022</small></p>
                                                <div class="line-way">
                                                    <div class="line-logo"><img src="https://storage.googleapis.com/gqcdn/airline-logos/svg/MH.svg" alt="" class="airline-icon">
                                                    </div>
                                                    <div class="line-time">
                                                        <div class="line-time__time"><strong>PER</strong> <span>16:15</span></div>
                                                        <div class="line-time__direction"><small>5h 45m</small>
                                                            <div class="ico-flight flight-depart"><i class="icon-flight"></i></div>
                                                            <small>
                                                                Economy
                                                            </small></div>
                                                        <div class="line-time__time"><strong>KUL</strong> <span>
                                                                    22:00
                                                                <!----></span></div>
                                                    </div>
                                                    <div class="line-control"><a href="#sumFlightDetail--PERKUL" data-toggle="collapse" class="bt-dropdown"><i
                                                                    class="icon-down-chevron"></i></a></div>
                                                </div>
                                                <div>
                                                    <div id="sumFlightDetail--PERKUL" class="flight-way__detail collapse">
                                                        <div class="line-detail">
                                                            <div class="line-infomation">
                                                                <div class="item-info"><i class="icon-flight"></i> <span>MALAYSIA AIRLINES</span></div>
                                                                <div class="item-info"><i class="icon-flight"></i> <span><span>MH124, Economy (H) </span></span></div>
                                                                <div class="item-info"><i class="icon-briefcase"></i> <span><i
                                                                                class="icon-briefcase"></i><span> Checked Baggage: <span>Adult (35 KG Allowance)</span></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div><p class="aircraft"><small>20 Nov 2022</small></p>
                                                <div class="line-way">
                                                    <div class="line-logo"><img src="https://storage.googleapis.com/gqcdn/airline-logos/svg/QR.svg" alt="" class="airline-icon">
                                                    </div>
                                                    <div class="line-time">
                                                        <div class="line-time__time"><strong>KUL</strong> <span>02:45</span></div>
                                                        <div class="line-time__direction"><small>7h 45m</small>
                                                            <div class="ico-flight flight-depart"><i class="icon-flight"></i></div>
                                                            <small>
                                                                Economy
                                                            </small></div>
                                                        <div class="line-time__time"><strong>DOH</strong> <span>
                                                                    05:30
                                                                <!----></span></div>
                                                    </div>
                                                    <div class="line-control"><a href="#sumFlightDetail--KULDOH" data-toggle="collapse" class="bt-dropdown"><i
                                                                    class="icon-down-chevron"></i></a></div>
                                                </div>
                                                <div>
                                                    <div id="sumFlightDetail--KULDOH" class="flight-way__detail collapse">
                                                        <div class="line-detail">
                                                            <div class="line-infomation">
                                                                <div class="item-info"><i class="icon-flight"></i> <span>QATAR AIRWAYS</span></div>
                                                                <div class="item-info"><i class="icon-flight"></i> <span><span>QR853, Economy (H) </span></span></div>
                                                                <div class="item-info"><i class="icon-briefcase"></i> <span><i
                                                                                class="icon-briefcase"></i><span> Checked Baggage: <span>Adult (35 KG Allowance)</span></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="flight-way__box"><h5><span>Arrival Flight</span> <span style="color: transparent;"> Amadeus</span></h5>
                                        <div class="flight-way__view">
                                            <div><p class="aircraft"><small>07 Dec 2022</small></p>
                                                <div class="line-way">
                                                    <div class="line-logo"><img src="https://storage.googleapis.com/gqcdn/airline-logos/svg/QR.svg" alt="" class="airline-icon">
                                                    </div>
                                                    <div class="line-time">
                                                        <div class="line-time__time"><strong>DOH</strong> <span>02:35</span></div>
                                                        <div class="line-time__direction"><small>10h 50m</small>
                                                            <div class="ico-flight flight-depart"><i class="icon-flight"></i></div>
                                                            <small>
                                                                Economy
                                                            </small></div>
                                                        <div class="line-time__time"><strong>PER</strong> <span>
                                                                    18:25
                                                                <!----></span></div>
                                                    </div>
                                                    <div class="line-control"><a href="#sumFlightDetail--DOHPER" data-toggle="collapse" class="bt-dropdown"><i
                                                                    class="icon-down-chevron"></i></a></div>
                                                </div>
                                                <div>
                                                    <div id="sumFlightDetail--DOHPER" class="flight-way__detail collapse">
                                                        <div class="line-detail">
                                                            <div class="line-infomation">
                                                                <div class="item-info"><i class="icon-flight"></i> <span>QATAR AIRWAYS</span></div>
                                                                <div class="item-info"><i class="icon-flight"></i> <span><span>QR900, Economy (N) </span></span></div>
                                                                <div class="item-info"><i class="icon-briefcase"></i> <span><i
                                                                                class="icon-briefcase"></i><span> Checked Baggage: <span>Adult (25 KG Allowance)</span></span></span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="event-summary-price col-12 col-md-4 col-lg-3">
                    <div class="d-flex flex-column sidebar-hotel p-4 align-center text-center">
                        <div class="event-price-per"><strong>AUD 19,562</strong></div>
                        <span>Per person</span>
                        <div class="event-price-total"><strong>AUD 19,562</strong></div>
                        <span class="mb-2">All taxes and fees included</span>
                        <p class="mb-2 p-message-booking-summary"><span class="bloc">Log in</span> to your <span class="bloc">Privilege Club</span> account to proceed and earn
                            <span class="loyalty-point">13,930<span> Qmiles</span></span></p>
                        <div class="booknow-summary"><a href="javascript:void(0);"
                                                        class="btn btn-hard btn-hard__select bt-effect btn-outline-primary btn-hard__tablet capitalize bt-selected bt-booknow-summary">Login</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}